proxmox.{$DOMAIN} {
  log {
    level INFO
  }
  # Uncomment this if you want to get a cert via ACME (Let's Encrypt or ZeroSSL).
  tls {
    dns cloudflare {env.CF_API_TOKEN}
  }

  #Uncomment to improve security (WARNING: only use if you understand the implications!)
  header {
       # Enable HTTP Strict Transport Security (HSTS)
       Strict-Transport-Security "max-age=31536000;"
       # Enable cross-site filter (XSS) and tell browser to block detected attacks
       X-XSS-Protection "1; mode=block"
       # Prevent search engines from indexing (optional)
       X-Robots-Tag "none"
       # Server name removing
       -Server
  }
  
  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode gzip

  reverse_proxy https://{$PROXMOX_IP}:8006 {
		header_up X-Real-IP {remote_host}
		transport http {
               tls_insecure_skip_verify
       }
  }
}

keycloak.{$DOMAIN} {
  log {
    level INFO
  }
  # Uncomment this if you want to get a cert via ACME (Let's Encrypt or ZeroSSL).
  tls {
    dns cloudflare {env.CF_API_TOKEN}
  }

  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode gzip

  reverse_proxy keycloak:8080 {
       header_up X-Real-IP {remote_host}
  }
}

auth.{$DOMAIN} {
  log {
    level INFO
  }
  # Uncomment this if you want to get a cert via ACME (Let's Encrypt or ZeroSSL).
  tls {
    dns cloudflare {env.CF_API_TOKEN}
  }

  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode gzip

  reverse_proxy keycloak:8080 {
       header_up X-Real-IP {remote_host}
  }
}


# Just TLS
postgres.{$DOMAIN} {
  log {
    level INFO
  }
  # Uncomment this if you want to get a cert via ACME (Let's Encrypt or ZeroSSL).
  tls {
    dns cloudflare {env.CF_API_TOKEN}
  }
}


